
<h1 class="tittle-h1" >Crear Representante</h1>
<section class="container-form">
  <div>
    <h2 class="background-darkblue tittle-creation">Datos del representante</h2>
  </div>
  <form class="form-basic" action="">
    <div class="d-flex">
      <div  class="input-basic-container column-50 margin-left-40">
        <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato" />
        <div class="blank-space-1"></div>
        <div class="blank-space-2"></div>
        <div class="blank-space-3"></div>
        <div class="blank-space-4"></div>
        <label class="text-blank"> Tipo de identificacion </label>
        <div class="placeholder-blank"> Ayuda </div>
      </div>
      <div  class="input-basic-container column-50">
        <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato" />
        <div class="blank-space-1"></div>
        <div class="blank-space-2"></div>
        <div class="blank-space-3"></div>
        <div class="blank-space-4"></div>
        <label class="text-blank"> Nombre </label>
        <div class="placeholder-blank"> Ayuda</div>
      </div>
    </div>
    <div class="d-flex">
        <div  class="input-basic-container column-50 margin-left-40">
          <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato" />
          <div class="blank-space-1"></div>
          <div class="blank-space-2"></div>
          <div class="blank-space-3"></div>
          <div class="blank-space-4"></div>
          <label class="text-blank"> Telefono </label>
          <div class="placeholder-blank"> Ayuda</div>
        </div>
        <div  class="input-basic-container column-50">
          <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato" />
          <div class="blank-space-1"></div>
          <div class="blank-space-2"></div>
          <div class="blank-space-3"></div>
          <div class="blank-space-4"></div>
          <label class="text-blank"> Apellido </label>
          <div class="placeholder-blank"> Ayuda </div>
        </div>
      </div>
      <div class="d-flex">
        <div  class="input-basic-container column-50 margin-left-40">
          <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato" />
          <div class="blank-space-1"></div>
          <div class="blank-space-2"></div>
          <div class="blank-space-3"></div>
          <div class="blank-space-4"></div>
          <label class="text-blank"> Telefono </label>
          <div class="placeholder-blank"> Ayuda </div>
        </div>
        <div  class="input-basic-container column-50">
          <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato" />
          <div class="blank-space-1"></div>
          <div class="blank-space-2"></div>
          <div class="blank-space-3"></div>
          <div class="blank-space-4"></div>
          <label class="text-blank"> Celular </label>
          <div class="placeholder-blank">  Ayuda </div>
        </div>
      </div>
      <div class="d-flex">
        <div  class="input-basic-container column-50 margin-left-40">
          <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato" />
          <div class="blank-space-1"></div>
          <div class="blank-space-2"></div>
          <div class="blank-space-3"></div>
          <div class="blank-space-4"></div>
          <label class="text-blank"> Rol de usuario </label>
          <div class="placeholder-blank"> Ayuda </div>
        </div>
        <div  class="input-basic-container column-50">
          <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato" />
          <div class="blank-space-1"></div>
          <div class="blank-space-2"></div>
          <div class="blank-space-3"></div>
          <div class="blank-space-4"></div>
          <label class="text-blank"> Correo electronico </label>
          <div class="placeholder-blank"> Ayuda </div>
        </div>
      </div>

    <div class="d-flex w-100 align-right">
       <a class="background-darkblue btn-submit "   >
        <img  src="../../assets/test-icon-faucet.png" alt="Guardar icon">
        Guardar
       </a>   
    </div>
  </form>
</section>
