<p>DashBoard</p>

<div class="column-50">
  <div class="card">
    <div style="border: 1px solid #FFD224; margin: 10px; padding: 10px;">
      <div class="dashboard-img">
        <img src="../../assets/TARIFARIO(2) 1200x1024.png" alt="Avatar" class="prueba" />
      </div>
      <div class="container">
        <h4 class="titulo-card">Tarifario</h4>
        <div class="d-flex"> 
          <p class="parrafo-card mt-2">
            el objetivo es calcular las tarifas Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Commodi hic nemo sequi est, quisquam
            laboriosam. Natus voluptatem labore, error alias distinctio debitis!
            Tempore labore maiores fuga earum animi distinctio placeat.
          </p>
          <a class="btn background-darkblue py-1 color-yellow btn-card-dash ml-4" >
            ingresar
          </a>
        </div>
        
      </div>
    </div>  
  </div>
</div>

