<h1 class="tittle-h1" >Generar token</h1>
<section class="container-form">
  <div>
    <h2 class="background-darkblue tittle-creation">Datos de las licencias</h2>
  </div>
  <form class="form-basic" action="">
    <div class="d-flex">
      <div class="input-basic-container column-50 margin-left-40">
        <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato" />
        <div class="blank-space-1"></div>
        <div class="blank-space-2"></div>
        <div class="blank-space-3"></div>
        <div class="blank-space-4"></div>
        <label class="text-blank"> Año </label>
        <!-- <div class="placeholder-blank"> Fecha en que inicio el registro de actividades de la empresa en GENXAPP</div> -->
      </div>
      <div class="input-basic-container column-50">
        <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato" />
        <div class="blank-space-1"></div>
        <div class="blank-space-2"></div>
        <div class="blank-space-3"></div>
        <div class="blank-space-4"></div>
        <label class="text-blank"> Mes </label>
        <!-- <div class="placeholder-blank"> Fecha de vencimiento de actividades de la empresa en GENXAPP</div> -->
      </div>
    </div>
    <div class="input-basic-container">
        <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato"/>
        <div class="blank-space-1"></div>
        <div class="blank-space-2"></div>
        <div class="blank-space-3"></div>
        <div class="blank-space-4"></div>
        <label for="NumContrato" class="text-blank"> Fecha de entrega </label>
        <!-- <div class="placeholder-blank"> Ayuda</div> -->
      </div>
      <div class="input-basic-container mb-2">
        <input class="input-basic" type="number" id="NumContrato" name="Numero de contrato"/>
        <div class="blank-space-1"></div>
        <div class="blank-space-2"></div>
        <div class="blank-space-3"></div>
        <div class="blank-space-4"></div>
        <label for="NumContrato" class="text-blank"> Correos </label>
        <!-- <div class="placeholder-blank"> Ayuda</div> -->
      </div>
      <div class="mail-group">
        <div class="mail-group-item">
          <p>jjvera@prueba.com</p>
          <a href="">X</a>
        </div>
        <div class="mail-group-item">
          <p>Correo1@prueba.com</p>
          <a href="">X</a>
        </div>
        <div class="mail-group-item">
          <p>Correo1@prueba.com</p>
          <a href="">X</a>
        </div>
        <div class="mail-group-item">
          <p>Correo1@prueba.com</p>
          <a href="">X</a>
        </div>
        <div class="mail-group-item">
          <p>Correo1@prueba.com</p>
          <a href="">X</a>
        </div>
        <div class="mail-group-item">
          <p>Ccom</p>
          <a href="">X</a>
        </div>
        <div class="mail-group-item">
          <p>123Correo1@prueba.com</p>
          <a href="">X</a>
        </div>
        <div class="mail-group-item">
          <p>321Correo1@prueba.com</p>
          <a href="">X</a>
        </div>
        <div class="mail-group-item">
          <p>4533Correo1@prueba.com</p>
          <a href="">X</a>
        </div>
        <div class="mail-group-item">
          <p>12Correo1@prueba.com</p>
          <a href="">X</a>
        </div>
        <div class="mail-group-item">
          <p>Cor1@prueba.com</p>
          <a href="">X</a>
        </div>
        <div class="mail-group-item">
          <p>Correo1@prueba.com</p>
          <a href="">X</a>
        </div>
      </div>
      <div class="input-basic-container">
        <textarea class="input-basic" type="number" id="NumContrato" name="Numero de contrato"></textarea>
        <div class="blank-space-1"></div>
        <div class="blank-space-2"></div>
        <div class="blank-space-3"></div>
        <div class="blank-space-4"></div>
        <label for="NumContrato" class="text-blank"> Cuerpo </label>
        <!-- <div class="placeholder-blank"> Ayuda</div> -->
      </div>

    <div class="d-flex w-100 align-right">
       <a  class="background-darkblue btn-submit "   >
        <img  src="../../assets/test-icon-faucet.png" alt="Guardar icon">
        Guardar
       </a>   
    </div>
  </form>
</section>
