<h1 class="tittle-h1">{{ tittle }}</h1>

<div class="claims-select-group">
  <select class="maximun" name="Año" id="year">
    <option disabled selected>Año</option>
    <option value="">azul</option>
    <option value="">Rojo</option>
    <option value="">verde</option>
    <option value="">naranja</option>
  </select>
  <select class="maximun" name="Año" id="year">
    <option disabled selected>Semestre</option>
    <option value="">azul</option>
    <option value="">Rojo</option>
    <option value="">verde</option>
    <option value="">naranja</option>
  </select>
</div>

<div class="claim-container">
  <div class="claim-container-one">
    <h3>resultados</h3>
    <div class="claim-table">
      <table>
        <tr>
          <td>asd1</td>
          <td>0</td>
        </tr>
        <tr>
          <td>asd2</td>
          <td>2</td>
        </tr>
        <tr>
          <td>asd3</td>
          <td>0</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="claim-container-two">
    <h3>Datos del calculo inicial</h3>
    <hr>
    <div>
        <div class="indicator-table">
            <h4>Reclamos comerciales</h4>
            <table>
                <tr>
                    <th></th>
                    <th>Enero</th>
                    <th>Febrero</th>
                    <th>Marzo</th>
                    <th>Abril</th>
                    <th>Mayo</th>
                    <th>Junio</th>
                </tr>
                <tr>
                    <td>todo bien</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>todo bien</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </table>
            <!--  -->
            <h4>Costo de comercializacion</h4>
            <table>
                <tr>
                    <th>Enero</th>
                    <th>Febrero</th>
                    <th>Marzo</th>
                    <th>Abril</th>
                    <th>Mayo</th>
                    <th>Junio</th>
                </tr>
                <tr>
                    <td>todo bien</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                
            </table>
            <!--  -->
            <h4>Total de suscriptores</h4>
            <table>
                <tr>
                    <th>Enero</th>
                    <th>Febrero</th>
                    <th>Marzo</th>
                    <th>Abril</th>
                    <th>Mayo</th>
                    <th>Junio</th>
                </tr>
                <tr>
                    <td>todo bien</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </table>
        </div>
    </div>
  </div>
</div>
