/* breadcumbas de arriba el '> empresas > cards' */

.breadcrumb1{
    margin: 0px;
    position: absolute;
    left: 5px;
    bottom: -1px;
    color: #9ac902;
  }
  
  /* Style the list */
  ul.breadcrumb1 {
    padding: 2px 8px;
    list-style: none;
  }
  
  /* Display list items side by side */
  ul.breadcrumb1 li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb1 li+li:before {
    padding: 8px;
    color: #9ac902;
    content: ">\00a0";
  }
  
  ul.breadcrumb1 li::after {
    padding: 8px;
    color: #9ac902;
    content: ">\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb1 li a {
    color: #9ac902;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb1 li a:hover {
    color: #6f9100;
    text-decoration: underline;
  }
  