/* Style the counter cards */
.card-company {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 12px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #181f39;
  border-radius: 10px;
  background-image: url("../../assets/fondo_tarjeta.png");
  background-size: contain;
}

.btn-card {
  font-size: 12px;
  font-weight: 200;
  border-radius: 10px;
  padding: 4px 6px;
  margin: auto;
}

.btn-card:hover {
  color: var(--dark-yellow);
}

/* @media screen and (max-width: 1140px) {
  .flex-between {
    display: block !important;
  }
  .buttons-card {
    display: block;
    margin-top: 5px;
  }
}

@media screen and (max-width: 800px) {
  .column {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  .img-card {
    width: 200px;
    height: 200px;
  }

  .card {
    min-width: 226px;
  }
} */

/* Responsive columns - one column layout (vertical) on small screens */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */

