<div class="modal-year">
    <div>
        <h4>Periodos de incumplimiento</h4>
        <a data-dismiss="modal">X</a>
    </div>
    
    <h5>Año - semestre</h5>
    <table>
        <tr>
            <td> <a href="" data-toggle="modal" data-target="#exampleModalLong2"> 2021 - 1 </a>  </td>
        </tr>
        <tr>
            <td> <a href="" data-toggle="modal" data-target="#exampleModalLong2"> 2021 - 2 </a>  </td>
        </tr>
        <tr>
            <td> <a href="" data-toggle="modal" data-target="#exampleModalLong2"> 2022 - 1 </a>  </td>
        </tr>
        <tr>
            <td> <a href="" data-toggle="modal" data-target="#exampleModalLong2"> 2022 - 2 </a>  </td>
        </tr>
        <tr>
            <td> <a href="" data-toggle="modal" data-target="#exampleModalLong2"> 2023 - 1 </a>  </td>
        </tr>
        


    </table>
    
</div>

<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <app-modal-frecuencia></app-modal-frecuencia>
      </div>
    </div>
  </div>