
<ng-sidebar-container>
  <!-- menu lateral -->
  <ng-sidebar mode="push" dock=true dockedSize='50px' closeOnClickOutside=true [opened]="abrirMenu">
    <p>Sidebar Contents</p>
    <ul class="menu">
      <li><a routerLink="/">DashBoard</a></li>
      <li><a routerLink="/empresas">Empresas</a></li>
      <ul>
        <li> <a routerLink="/listar">Listar</a></li>
        <li> <a routerLink="/crear">Crear</a></li>
      </ul>
      <li><a routerLink="/calidad">CalidadYDescuento</a></li>
    </ul>
    <button (click)="toggleAbrirMenu()">Cerrar sideBar</button>
  </ng-sidebar>
  <!-- contenido de la pagina -->
  <div ng-sidebar-content class="buttom-open">
    
    <button (click)="toggleAbrirMenu()" >
      Abrir sideBar
    </button>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>