@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}



ng-sidebar-container {
  height: 100vh;
}

::ng-deep .ng-sidebar {
  background-color: #f3f3f3;
  width: 260px;
  
}

.background-total {
  background-image: url("../assets/-_1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a:hover {
  text-decoration: none;
  color: #eed531;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.width-5 {
  width: 5px;
}

.yellow-vertical-line {
  background-color: #bca508;
}

.color-yellow {
  color: #bca508;
}

.menu {
  width: 100%;
  padding: 10px;
  display: block;
}

.menu li:hover {
  background-color: white;
}
.menu li:focus {
  background-color: white;
  border-right: 5px solid  #bca508;
}

.menu li {
  /* margin-bottom: 15px; */
  padding-left: 5px;
  width: 100%;
  display: flex;
  height: 50px;
  cursor: pointer;
}

.menu li a {
  padding-left: 10px;
  color: #181f39;
  margin: auto;
  
}

.menu li img {
  margin-left: 10px;
  height: 32px;
  width: 32px;
  margin: auto;
}


.menu li a {
  display: block;
  width: 100%;
}

.menuIcon {
  margin-left: 95px;

}

/* header  */
.no-btn {
  border: 0px;
  background-color: #181f39;
}

.background-darkblue {
  background-color: #181f39;
}
.background-blue {
  background-color: #1c2b4e;
}

.h-header {
  height: 60px;
  z-index: 102;
}

.h-header-sticky {
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 102;
  width: calc(100% - 60px);
}

.h-header-sticky-open {
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 102;
  width: calc(100% - 260px) ;
}


.header-lesson{
  margin-top: 60px;
}

.img-little {
  padding: 0px;
  height: 50%;
  width: 45%;
}

.img-48{
  width: 48px;
  height: 48px;
}

.img-32{
  width: 32px;
  height: 32px;
}

.border-icon-header {
  width: 36px;
  height: 36px;
  background-color: #223c77;
  border-radius: 50px;
  display: flex;
  padding: 2.1px;
  margin: auto;
}

.user-text {
  font: bold;
  font-size: 18px;
  color: #bca508;
  margin: auto;
  
}

/* ::ng-deep .ng-sidebar--opened {
  background-color: brown;
} */


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

