<ng-sidebar-container>
  <!-- menu lateral -->
  <ng-sidebar
    mode="push"
    dock="true"
    dockedSize="90px"
    closeOnClickOutside="true"
    [opened]="abrirMenu"
  >
    <div class="row background-blue h-header">
      <div class="col text-center">
        <img src="..\assets\x_Genxapp.png" alt="noimg" class="w-75 p-2" />
      </div>
    </div>
    <ul class="menu px-0">
      <li routerLink="/">
        <img src="..\assets\test-icon-faucet.png" alt="KK" />
        <a >DashBoard</a>
      </li>
      <li routerLink="/empresas">
        <img src="..\assets\test-icon-faucet.png" alt="KK" />
        <a >Empresas</a>
      </li>
      <li routerLink="/listar">
        <img src="..\assets\test-icon-faucet.png" alt="KK" />
        <a >Listar</a>
      </li>
      <li routerLink="/crear">
        <img src="..\assets\test-icon-faucet.png" alt="KK" />
        <a >Crear</a>
      </li>
      <li routerLink="/calidad">
        <img src="..\assets\test-icon-faucet.png" alt="KK" />
        <a >Calidad</a>
      </li>
      
    </ul>
  </ng-sidebar>
  <!-- contenido de la pagina -->
  <div ng-sidebar-content>
    <nav class="row-12 w-100 navbar background-darkblue py-2 px-1 m-0 h-header">
      <div class="col-12 pl-4">
        <button class="no-btn" (click)="toggleAbrirMenu()">
          <svg viewBox="0 0 100 80" width="40" height="40" fill="white">
            <rect width="100" height="10"></rect>
            <rect y="30" width="100" height="10"></rect>
            <rect y="60" width="100" height="10"></rect>
          </svg>
        </button>
      </div>
    </nav>
    <div class="p-4">
      <router-outlet ></router-outlet>
    </div>
   
  </div>
</ng-sidebar-container>
