<ng-sidebar-container 
>
  <!-- menu lateral -->
  <ng-sidebar
    mode="push"
    dock="true"
    dockedSize="60px"
    [(opened)]="abrirMenu" 
    (onClosed)="toggleMenuIcon()"
    (onOpenStart)="toggleMenuIcon()"
    closeOnClickOutside=true 
  >
    <div class="row navbar background-blue h-header"> 
      <div class="col">
        <div class="text-center">
          <img *ngIf="menuClosed" src="..\assets\x_Genxapp.png" alt="noimg" class="w-75 p-2" />     
        </div>
        <div >
          <img *ngIf="!menuClosed" class="my-2" style="margin-left: 190px" src="..\assets\test-icon-faucet.png" alt="KK" />
        </div>
      </div>
    </div>
    <ul class="menu px-0 " [ngClass]="{'menuIcon':!abrirMenu,'':abrirMenu}">
      <li class=" px-0" style="height: auto; min-height: 50px;">
        <div id="accordion" class="w-100" >
            <ul class="px-0 menuDrop" id="headingTwo ">
              <li class="w-100 m-0 p-0 collapsed menuDrop-Arrow" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <img class="img-48" src="..\assets/48x_Configuraciones.png" alt="KK" />
                <a>
                  configuraciones
                </a>
              </li>
            </ul>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <ul class="menuDrop menuDrop-item">
                <li routerLink="/empresas">
                  <img class="img-48" src="..\assets/48x_Configuraciones.png" alt="KK" />
                  <a >Empresas2</a>
                </li>
                <li  routerLink="/crear">
                  <img class="img-48" src="..\assets/48x_Configuraciones.png" alt="KK" />
                  <a >Empresas3</a>
                </li>
              </ul>
            </div>
        </div>
      </li>
      <li routerLink="/empresas">
        <img class="img-48" src="..\assets/48x_Configuraciones.png" alt="KK" />
        <a >Empresas2</a>
      </li>
      <li routerLink="/listar">
        <img class="img-48" src="..\assets/32x_Empresa.png" alt="KK" />
        <a >Listar</a>
      </li>
      <li routerLink="/crear">
        <img src="..\assets\test-icon-faucet.png" alt="KK" />
        <a >Crear</a>
      </li>
      <li routerLink="/calidad">
        <img src="..\assets\test-icon-faucet.png" alt="KK" />
        <a>Calidad</a>
      </li>   
    </ul>
  </ng-sidebar>
  <!-- contenido de la pagina -->
  <div ng-sidebar-content class="background-total w-100 h-100" >
    <nav [ngClass]="{'h-header-sticky':!abrirMenu,'h-header-sticky-open':abrirMenu}" class="navbar background-darkblue py-2 px-1 m-0 h-header" style="overflow-x:hidden;">  
      <div class="pl-4">
        <button class="no-btn" (click)="toggleAbrirMenu()">
          <svg viewBox="0 0 100 80" width="25" height="25" fill="white">
            <rect width="100" height="10" rx="7" ry="7"></rect>
            <rect y="30" width="100" height="10" rx="7" ry="7"></rect>
            <rect y="60" width="100" height="10" rx="7" ry="7"></rect>
          </svg>
        </button>
      </div>
      <div class="mr-4 d-flex ">
        <div class="mr-3 user-text ">
          <a href="#" class="color-yellow">Usuario</a>
        </div>
        <div>
          <a href="">
            <img class="img-48 mr-2" src="../assets/48x_User.png" alt="">
          </a>
          
        </div>
        <div class="border-icon-header">
          <a href="">
            <img class="img-32 " src="../assets/core-icon-gear.png" alt="">
          </a>    
        </div>
        
      </div>
    </nav>
    <div class="p-4 header-lesson ">
      <router-outlet></router-outlet>    <!-- aqui se cargan las paginas -->
    </div>
   
  </div>
</ng-sidebar-container>
