<h1 class="tittle-h1">{{ tittle }}</h1>

<div class="breach-container">
  <div class="breach-container-one">
      <h3>
          microrutas
      </h3>
      <hr>
      <div>
          <ul>
              <li> <a href="" onclick="return false;">1_3_5_D_Rural Pto Espejo</a> </li>
              <li> <a href="" onclick="return false;">1_3_5_D_Rural Pto Espejo</a> </li>
              <li> <a href="" onclick="return false;">1_3_5_D_Rural Pto Espejo</a> </li>
              <li> <a href="" onclick="return false;">1_3_5_D_Rural Pto Espejo</a> </li>
              <li> <a href="" onclick="return false;">1_3_5_D_Rural Pto Espejo</a> </li>
              <li> <a href="" onclick="return false;">1_3_5_D_Rural Pto Espejo</a> </li>
              <li> <a href="" onclick="return false;">1_3_5_D_Rural Pto Espejo</a> </li>
              <li> <a href="" onclick="return false;">1_3_5_D_Rural Pto Espejo</a> </li>         
          </ul>
      </div>
  </div>

  <div class="breach-container-two">
      <div class="brech-tab-list">
          <ul>
              <li><a href="" onclick="return false;"> Frecuencia </a></li>
              <li><a href="" onclick="return false;"> Horario </a></li>
              <li><a href="" onclick="return false;"> Indicadores</a></li>
          </ul>
      </div>
      <div class="breach-tab-container">
        <div class="breach-table">
            <h3>AÑO 2020</h3>
            <table>
                <tr>
                    <th>Semestre 1</th>
                    <th>enero</th>
                    <th>febrero</th>
                    <th>abril</th>
                    <th>marzo</th>
                    <th>mayo</th>
                    <th>junio</th>
                </tr>
                <tr>
                    <td>NDR</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                </tr>
                <tr>
                    <td>IFR_NA</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                </tr>
                <tr>
                    <th>Semestre 2</th>
                    <th>enero</th>
                    <th>febrero</th>
                    <th>abril</th>
                    <th>marzo</th>
                    <th>mayo</th>
                    <th>junio</th>
                </tr>
                <tr>
                    <td>NDR</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                </tr>
                <tr>
                    <td>IFR_NA</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                </tr>
            </table>  
        </div>
        
        <div class="breach-table">
            <h3>AÑO 2020</h3>
            <table>
                <tr>
                    <th>Semestre 1</th>
                    <th>enero</th>
                    <th>febrero</th>
                    <th>abril</th>
                    <th>marzo</th>
                    <th>mayo</th>
                    <th>junio</th>
                </tr>
                <tr>
                    <td>NDR</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                </tr>
                <tr>
                    <td>IFR_NA</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                </tr>
                <tr>
                    <th>Semestre 2</th>
                    <th>enero</th>
                    <th>febrero</th>
                    <th>abril</th>
                    <th>marzo</th>
                    <th>mayo</th>
                    <th>junio</th>
                </tr>
                <tr>
                    <td>NDR</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                </tr>
                <tr>
                    <td>IFR_NA</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                </tr>
            </table>  
        </div>

      </div>
  </div>
</div>
