<div class="d-flex justify-content-between">
    <h1 class="tittle-h1">Lista licencias</h1>
    <div class="btn-crear mr-3">
      <a href="">+ Crear</a>
    </div>
  </div>
  <section class="container-form">
    <div>
      <h2 class="background-darkblue tittle-creation">
        Datos licencias
      </h2>
    </div>
    <div class="form-basic-show flex-between">
      <div>
        <div class="d-flex text-center">
          <div class="m-auto">Mostrar</div>
          <input type="text" maxlength="3" class="entry-input-style" />
          <div class="m-auto">entradas</div>
        </div>
      </div>
      <div class="d-flex">
        <img
          class="svg-35 mt-2 mr-2"
          src="../../assets/test-icon-faucet.png"
          alt=""
        />
        <div class="input-basic-container">
          <input
            class="input-basic"
            type="number"
            id="NumContrato"
            name="Numero de contrato"
          />
          <div class="blank-space-1"></div>
          <div class="blank-space-2"></div>
          <div class="blank-space-3"></div>
          <div class="blank-space-4"></div>
          <label class="text-blank"> Buscar </label>
        </div>
      </div>
    </div>
    <div class="table-basic" action="">
      <table class="table-group">
        <tr>
          <th scope="row">#</th>
          <th>Contrato</th>
          <th>Modulo</th>
          <th>Fecha inicio</th>
          <th>Fecha vencimiento</th>
          <th>Servicio</th>
          <th>Estado</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Soleado</td>
          <td>Mayormente soleado</td>
          <td>Parcialmente nublado</td>
          <td>p5</td>
          <td>prueba1</td>
          <td>p4</td>
        </tr>
        <tr>
          <td>2</td>
          <td>19°C</td>
          <td>17°C</td>
          <td>12°C</td>
          <td>prueba1</td>
          <td>p2</td>
          <td>p4</td>

        </tr>
        <tr>
          <td>3</td>
          <td>E 13 km/h</td>
          <td>E 11 km/h</td>
          <td>S 16 km/h</td>
          <td>prueba1</td>
          <td>p2</td>
          <td>p3</td>
        </tr>
      </table>
    </div>
  </section>
  